:root {
    --primary-color: #252B42;
    --second-color: #737373;
    --link-hover-color: #000;
    --light-text-color: #fff;
    --hover-color: #FFA62B;
    --btn-color: #00A0C1;
    --secondary-btn-color: #16697A;
    --Gray-5: #E0E0E0;
    --Gray-3: #828282;
    --black: #000;
}